In [15]:
import pandas as pd

In [16]:
df = pd.read_csv("demographic.csv")

In [17]:
df[['title','lang']].head()

                                               title lang
0  Former Google career coach shares a visual tri...   en
1  Novo workaholic trabalha, pratica esportes e t...   pt
2                   Livro: Retrospectivas Divertidas   pt
3               Pull request first - Practical Blend   en
4  Ganhe 6 meses de acesso ao Pluralsight, maior ...   pt

In [18]:
def to_lower_case(item):
    return str.lower(item.replace(" "," "))
df['meta_title']= df['title'].apply(to_lower_case)

In [19]:
df[['title','lang','meta_title']].head()

,title,lang,meta_title
0,Former Google career coach shares a visual tri...,en,former google career coach shares a visual tri...
1,"Novo workaholic trabalha, pratica esportes e t...",pt,"novo workaholic trabalha, pratica esportes e t..."
2,Livro: Retrospectivas Divertidas,pt,livro: retrospectivas divertidas
3,Pull request first - Practical Blend,en,pull request first - practical blend
4,"Ganhe 6 meses de acesso ao Pluralsight, maior ...",pt,"ganhe 6 meses de acesso ao pluralsight, maior ..."

In [20]:
df['soup']=df['meta_title']

In [21]:
from sklearn.feature_extraction.text import  CountVectorizer
counter = CountVectorizer(stop_words='english')
filtered = counter.fit_transform(df['soup'])

In [22]:
from sklearn.metrics.pairwise import cosine_similarity
c1 = cosine_similarity(filtered,filtered)

In [23]:
df = df.reset_index()
indices = pd.Series(df.index,index=df['title'])

In [24]:
def getRecommendation(title,c1=c1):
    idx = indices[title]
    print(idx)
    score = list(enumerate(c1[idx]))
    score= sorted(score,key=lambda x:x[1],reverse=True)
    score = score[1:11]
    movie_index=[i[0] for i in score]
    return df['title'].iloc[movie_index]

In [25]:
getRecommendation("Ethereum, a Virtual Currency, Enables Transactions That Rival Bitcoin's")

2978

1881    Microsoft Continues to Embrace Ethereum & Bitc...
2793    Ethereum and Bitcoin Are Market Leaders But No...
759     Bitcoin Accepted! German Energy Giant Enables ...
1968                                 Bitcoin / Blockchain
1162    The price of Ether, a bitcoin rival, is soarin...
2329    Five Bitcoin and Ethereum Based Projects to Wa...
1172    Blockchain open sources Thunder network, pavin...
2850    EB124 - Rune Christensen: Maker Dao Ethereum's...
2815    Why Decentralized Conglomerates Will Scale Bet...
1663    Bitcoin Mining, Ethereum Mining, Cloud Mining:...
Name: title, dtype: object